.navbar{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    box-shadow: 0px 1px 3px -2px black;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    font-size: 20px;
    font-weight: 700;
    color: #171717;
}