#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  z-index: 9999;
  animation: fadeOut 0.5s 10s ease forwards;
  -webkit-animation: fadeOut 0.5s 10s ease forwards;
}

#loader {
  width: 285px;
  height: auto;
}

#loader path:nth-child(1) {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: strokeAnimate 2s 0s ease forwards;
  -webkit-animation: strokeAnimate 2s 0s ease forwards;
}

#loader path:nth-child(2) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: strokeAnimate 2s 0.3s ease forwards;
}

#loader path:nth-child(3) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: strokeAnimate 2s 0.6s ease forwards;
}

#loader path:nth-child(4) {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: strokeAnimate 2s 0.9s ease forwards;
}

#loader path:nth-child(5) {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: strokeAnimate 2s 1.2s ease forwards;
}

#loader path:nth-child(6) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: strokeAnimate 2s 1.5s ease forwards;
}

#loader path:nth-child(7) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: strokeAnimate 2s 1.8s ease forwards;
}

#loader path:nth-child(8) {
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: strokeAnimate 2s 2.1s ease forwards;
}

#loader path:nth-child(9) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: strokeAnimate 2s 2.4s ease forwards;
}

#loader path:nth-child(10) {
  stroke-dasharray: 280;
  stroke-dashoffset: 280;
  animation: strokeAnimate 2s 2.7s ease forwards;
}

#loader path:nth-child(11) {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: strokeAnimate 2s 3s ease forwards;
}

#loader path:nth-child(12) {
  stroke-dasharray: 320;
  stroke-dashoffset: 320;
  animation: strokeAnimate 2s 3.3s ease forwards;
}

@keyframes strokeAnimate {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes strokeAnimate {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  #loader {
    width: 200px;
  }
}

@media screen and (max-width: 650px) {
  #loader {
    width: 150px;
  }
}
